*{
    box-sizing: border-box;
}

:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Blue: hsl(248, 32%, 49%);
}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url(/bg-intro-desktop.jpg);
    background-color: var(--Red);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.content{
    width: 48%;
    align-self: center;
}

.offer{
    display: block;
    background-color: var(--Blue);
    text-align: center;
    padding: .6rem .8rem;
    font-size: 14px;
    border-radius: 7px;
}

.form-box{
    padding: 2em;
    background-color: #fff;
    border-radius: 7px;
}

.input-feild input{
    border: 1px solid var(--Grayish-Blue);
    width: 100%;
    padding: .8em 1.3em;
    margin-bottom: 1em;
    border-radius: 5px;
    outline-color: var(--Blue);
}

.btn{
    color: #fff;
    background-color: var(--Green);
    font-weight: 600;
    border: none;
}

.t-and-c{
    color: var(--Dark-Blue);
    font-size: 9px;
    text-align: center;
}

.t-and-c a{
    text-decoration: none;
    color: var(--Red);
}


@media (max-width:450px) {
    body{
        background-image: url(/bg-intro-mobile.jpg);
    }
    .container{
        flex-direction: column;
    }
    .content{
        width: 100%;
        text-align: center;
    }
}

