
.heading{
    text-align: center;
}

#report-sheet{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

#report-sheet tr, th, td{
    border: 1px solid #ddd;
    /* border: 1px solid #04AA6D; */
    padding: 5px;
}

#report-sheet tr:nth-child(even){
    background-color: #f2f2f2;
}
#report-sheet tr:hover{
    background-color: #ddd;
}
#report-sheet th{
    background-color: #04AA6D;
    color: #fff;
}