*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
}

/*.bg-color {
  background-color: black;
  color: #fff;
}*/

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
}
.s-btw{
  justify-content: space-between;
}

nav .row {
  align-items: center;
  font-family: 'Allura', cursive;
}

.logo span {
  color: crimson;
}

.row ul {
  display: flex;
  gap: 1.8em;
}

li {
  list-style: none;
}

.row ul li a {
  text-decoration: none;
  color: #fff;
}

.menu-btn{
  display: none;
}

.row ul li a:hover{
  color: crimson;
}

/******** HERO SECTION *******/

.text-area {
  width: 50%;
  padding: 4em 0;
  font-size: 2rem;
}

.text-area .font {
  font-family: 'Mukta Vaani', sans-serif;
  margin: 0;
  /* font-size: 3rem; */
}

.text-area h1 {
  margin: 0;
  color: crimson;
  font-family: 'Cinzel Decorative', cursive;
}

.buttons{
  gap: 2rem;
}

.social-btn i{
  color: crimson;
  margin-left: .4em;
  font-size: 1.5rem;
}

.btn{
  color: #fff;
  text-decoration: none;
  background-color: crimson;
  border-radius: 50px;
  font-size: 1.3rem;
  padding: .5rem 1.6rem;
  /* font-family: 'Cinzel Decorative', cursive; */
}

.hero-img{
  width: 45%;
  align-self: flex-end;
}

.hero-img .mainImg{
  
}


@media (max-width: 800px){
  .prev .row{
    display: block;
  }
  
  .text-area, .hero-img{
    width: 100%;
  }
  .hero-img{
    display: none;
  }
  .prev{
    background-image: url('/asset/me.png');
    background-repeat: no-repeat;
  }
  .menu-btn{
    display: block;
  }
  .menu-list{
    display: none;
  }
}

