* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.3rem;
  background-color: black;
  color: #fff;
}

nav .container {
  width: 80%;
  padding: 1.8em 0;
  max-width: 1500px;
  margin: 0 auto;
}

nav .row {
  display: flex;
}
.s-btw {
  justify-content: space-between;
}

.menu-btn {
  display: block;
}

.menu-list {
  display: none;
}

nav .row {
  align-items: center;
  font-family: 'Allura', cursive;
}

.logo span {
  color: crimson;
}

.row ul {
  display: flex;
  gap: 1.8em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.row ul li a:hover {
  color: crimson;
}

/**** form section ***/
.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.col h1 {
  text-align: center;
  font-family: 'Allura', cursive;
  margin: 1em 0;
}

input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  padding: 0;
  border-bottom: 1px solid #fff;
  font-size: 16px;
}

.input-field .fa {
  margin: 0 0.5em;
}

.account-option {
  display: flex;
  padding: 1em;
  font-size: 13px;
}

.form .link-text {
  text-decoration: none;
  color: crimson;
}

.account-option a {
  margin-left: auto;
}

.account-option p {
  margin-left: 0.5em;
}

.form-btn {
  display: block;
  background-color: crimson;
  width: 80%;
  margin: 0 auto;
  padding: 0.4em;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  /* font-family: cursive; */
}

.alt {
  font-size: 15px;
  margin-top: 0.7em;
  text-align: center;
}

@media (min-width: 800px) {
  .col {
    width: 90%;
    margin: 0 auto;
  }
  .wrap .container {
    border: 1px solid #fff;
    padding: 3em 0;
  }

  .combine {
    display: flex;
    justify-content: space-between;
  }

  .text-line {
    position: relative;
    padding-right: 2em;
  }
  .menu-btn {
    display: none;
  }

  .menu-list {
    display: block;
  }

  .wrap {
    min-height: 700px;
    display: flex;
    align-items: center;
  }
}
